.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background: white;
    width: 300px;
    opacity: 1;
}

.mainText {
    font-size: 24px;
    font-weight: bold;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: ghostwhite;
}

.card-box {
    border: 10px solid white;
    border-radius: 15px;
    margin: 100px 0;
}

img {
    border: 10px solid white;
    border-radius: 20px;
}

.background {
    background: url("https://www.wallpaperflare.com/static/849/456/846/fan-art-digital-art-rick-and-morty-no-man-s-sky-wallpaper.jpg") no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    color: #B3421B;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

a {
    color: black;
    text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.card {
    padding: 10px;
    border: 1px solid whitesmoke;
    margin: 10px;
}

.card.completed {
    opacity: .5;
}

.card.completed h2 {
    text-decoration: line-through;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
